__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env
.idea/
.vscode/
data/
checkpoints/*
!checkpoints/README.md
georsclip/
work_dirs/
showdir/
show_dir/
Backup/
*.pth
*.pt
*.ckpt
*.onnx
*.log
results.xlsx
111.txt
.DS_Store
Thumbs.db
